<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897784284675-f3vjcrkpli7m07pdrp87ldlum0inc1os.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897784284675-f3vjcrkpli7m07pdrp87ldlum0inc1os</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>897784284675-svqcnobkpgquqim10r7jdt4p7dbkfb9p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCLfkheW7BslPaDm9Mf7bOi0t9me-9WwJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>897784284675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.mtsbtwostage</string>
	<key>PROJECT_ID</key>
	<string>mt-sb2</string>
	<key>STORAGE_BUCKET</key>
	<string>mt-sb2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897784284675:ios:a508cd7071a3bd8fb2f036</string>
	<key>DATABASE_URL</key>
	<string>https://mt-sb2.firebaseio.com</string>
</dict>
</plist>