<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688384473882-numo33i969chv3irnlifunf2hib2v9bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688384473882-numo33i969chv3irnlifunf2hib2v9bh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>688384473882-rfiag113dicnhb63mt1arg0m0kdufggj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQWly4Lt1DHtxyEiXpXgoAikGzbzZHOMc</string>
	<key>GCM_SENDER_ID</key>
	<string>688384473882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.mtsboneprod</string>
	<key>PROJECT_ID</key>
	<string>mt-sb1</string>
	<key>STORAGE_BUCKET</key>
	<string>mt-sb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688384473882:ios:9bc146a24fc0b5aa694aa3</string>
	<key>DATABASE_URL</key>
	<string>https://mt-sb1.firebaseio.com</string>
</dict>
</plist>